@font-face {
  font-family: 'PHP-Syntax';
  src: url('../fonts/PHP-Syntax.eot?y18vkm');
  src: url('../fonts/PHP-Syntax.eot?#iefixy18vkm') format('embedded-opentype'), url('../fonts/PHP-Syntax.woff?y18vkm') format('woff'), url('../fonts/PHP-Syntax.ttf?y18vkm') format('truetype'), url('../fonts/PHP-Syntax.svg?y18vkm#PHP-Syntax') format('svg');
  font-weight: normal;
  font-style: normal;
}
.psi,
[class^="psi-"],
[class*=" psi-"] {
  font-family: 'PHP-Syntax';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.psi-access-alarm:before {
  content: "\e600";
}
.psi-accessibility:before {
  content: "\e602";
}
.psi-access-time:before {
  content: "\e603";
}
.psi-account-box:before {
  content: "\e604";
}
.psi-account-child:before {
  content: "\e605";
}
.psi-account-c:before {
  content: "\e606";
}
.psi-adb:before {
  content: "\e607";
}
.psi-add:before {
  content: "\e608";
}
.psi-add-r:before {
  content: "\e609";
}
.psi-add-c:before {
  content: "\e60a";
}
.psi-add-c-o:before {
  content: "\e60b";
}
.psi-address-book:before {
  content: "\e60c";
}
.psi-add-shopping-cart:before {
  content: "\e60d";
}
.psi-add-to-photos:before {
  content: "\e60e";
}
.psi-alarm:before {
  content: "\e60f";
}
.psi-album:before {
  content: "\e610";
}
.psi-android:before {
  content: "\e611";
}
.psi-announcement:before {
  content: "\e612";
}
.psi-apple:before {
  content: "\e613";
}
.psi-apps:before {
  content: "\e614";
}
.psi-archive:before {
  content: "\e615";
}
.psi-arrow-back:before {
  content: "\e616";
}
.psi-arrow-down:before {
  content: "\e617";
}
.psi-arrow-down-left:before {
  content: "\e618";
}
.psi-arrow-down-right:before {
  content: "\e619";
}
.psi-arrow-drop-down:before {
  content: "\e61a";
}
.psi-arrow-drop-down-c:before {
  content: "\e61b";
}
.psi-arrow-drop-up:before {
  content: "\e61c";
}
.psi-arrow-forward:before {
  content: "\e61d";
}
.psi-arrow-left:before {
  content: "\e61e";
}
.psi-arrow-right:before {
  content: "\e61f";
}
.psi-arrow-up:before {
  content: "\e620";
}
.psi-arrow-up-left:before {
  content: "\e621";
}
.psi-arrow-up-right:before {
  content: "\e622";
}
.psi-aspect-ratio:before {
  content: "\e623";
}
.psi-assistant-photo:before {
  content: "\e624";
}
.psi-attachment:before {
  content: "\e625";
}
.psi-attach-money:before {
  content: "\e626";
}
.psi-audiotrack:before {
  content: "\e627";
}
.psi-autorenew:before {
  content: "\e628";
}
.psi-av-timer:before {
  content: "\e629";
}
.psi-backspace:before {
  content: "\e62a";
}
.psi-backup:before {
  content: "\e62b";
}
.psi-barcode:before {
  content: "\e62c";
}
.psi-bin:before {
  content: "\e62d";
}
.psi-bin-full:before {
  content: "\e62e";
}
.psi-block:before {
  content: "\e62f";
}
.psi-blocked:before {
  content: "\e630";
}
.psi-blog:before {
  content: "\e631";
}
.psi-blogger:before {
  content: "\e632";
}
.psi-blogger-r:before {
  content: "\e633";
}
.psi-blur-circular:before {
  content: "\e634";
}
.psi-blur-linear:before {
  content: "\e635";
}
.psi-blur-off:before {
  content: "\e636";
}
.psi-blur-on:before {
  content: "\e637";
}
.psi-book:before {
  content: "\e638";
}
.psi-books:before {
  content: "\e639";
}
.psi-border-all:before {
  content: "\e63a";
}
.psi-brush:before {
  content: "\e63b";
}
.psi-bubble:before {
  content: "\e63c";
}
.psi-bubble-o:before {
  content: "\e63d";
}
.psi-bubbles:before {
  content: "\e63f";
}
.psi-bubbles-o:before {
  content: "\e641";
}
.psi-business:before {
  content: "\e642";
}
.psi-cached:before {
  content: "\e643";
}
.psi-cake:before {
  content: "\e644";
}
.psi-calculator:before {
  content: "\e645";
}
.psi-calendar:before {
  content: "\e646";
}
.psi-call:before {
  content: "\e647";
}
.psi-camera:before {
  content: "\e648";
}
.psi-camera-lane:before {
  content: "\e649";
}
.psi-camera-alt:before {
  content: "\e64a";
}
.psi-camera-front:before {
  content: "\e64b";
}
.psi-camera-roll:before {
  content: "\e64c";
}
.psi-cancel:before {
  content: "\e64d";
}
.psi-cancel-c:before {
  content: "\e64e";
}
.psi-cart:before {
  content: "\e64f";
}
.psi-center-focus-strong:before {
  content: "\e650";
}
.psi-center-focus-weak:before {
  content: "\e651";
}
.psi-check:before {
  content: "\e652";
}
.psi-checkbox-checked:before {
  content: "\e653";
}
.psi-checkbox-unchecked:before {
  content: "\e654";
}
.psi-chevron-left:before {
  content: "\e655";
}
.psi-chevron-right:before {
  content: "\e656";
}
.psi-chrome:before {
  content: "\e657";
}
.psi-circle-down:before {
  content: "\e658";
}
.psi-circle-left:before {
  content: "\e659";
}
.psi-circle-right:before {
  content: "\e65a";
}
.psi-circle-up:before {
  content: "\e65b";
}
.psi-clear:before {
  content: "\e65c";
}
.psi-clear-all:before {
  content: "\e65d";
}
.psi-clipboard:before {
  content: "\e65e";
}
.psi-clock:before {
  content: "\e65f";
}
.psi-close:before {
  content: "\e660";
}
.psi-closed-caption:before {
  content: "\e661";
}
.psi-cloud:before {
  content: "\e662";
}
.psi-cloud-c:before {
  content: "\e663";
}
.psi-cloud-done:before {
  content: "\e664";
}
.psi-cloud-download:before {
  content: "\e665";
}
.psi-cloud-off:before {
  content: "\e666";
}
.psi-cloud-queue:before {
  content: "\e667";
}
.psi-cloud-upload:before {
  content: "\e668";
}
.psi-codepen:before {
  content: "\e669";
}
.psi-coin-dollar:before {
  content: "\e66a";
}
.psi-coin-euro:before {
  content: "\e66b";
}
.psi-coin-pound:before {
  content: "\e66c";
}
.psi-coin-yen:before {
  content: "\e66d";
}
.psi-collections:before {
  content: "\e66e";
}
.psi-colorize:before {
  content: "\e66f";
}
.psi-color-lens:before {
  content: "\e670";
}
.psi-comment:before {
  content: "\e671";
}
.psi-compass:before {
  content: "\e672";
}
.psi-computer:before {
  content: "\e673";
}
.psi-contacts:before {
  content: "\e674";
}
.psi-content-copy:before {
  content: "\e675";
}
.psi-content-cut:before {
  content: "\e676";
}
.psi-content-paste:before {
  content: "\e677";
}
.psi-control-point:before {
  content: "\e678";
}
.psi-control-point-duplicate:before {
  content: "\e679";
}
.psi-copy:before {
  content: "\e67a";
}
.psi-create:before {
  content: "\e67b";
}
.psi-credit-card:before {
  content: "\e67c";
}
.psi-crop:before {
  content: "\e67d";
}
.psi-css3:before {
  content: "\e67f";
}
.psi-ctrl:before {
  content: "\e680";
}
.psi-dehaze:before {
  content: "\e681";
}
.psi-delete:before {
  content: "\e682";
}
.psi-delicious:before {
  content: "\e683";
}
.psi-description:before {
  content: "\e684";
}
.psi-desktop-mac:before {
  content: "\e685";
}
.psi-desktop-windows:before {
  content: "\e686";
}
.psi-details:before {
  content: "\e687";
}
.psi-deviantart:before {
  content: "\e688";
}
.psi-deviantart-r:before {
  content: "\e689";
}
.psi-directions:before {
  content: "\e68a";
}
.psi-dnd-forwardslash:before {
  content: "\e68b";
}
.psi-dns:before {
  content: "\e68c";
}
.psi-domain:before {
  content: "\e68d";
}
.psi-done:before {
  content: "\e68e";
}
.psi-done-all:before {
  content: "\e68f";
}
.psi-do-not-disturb:before {
  content: "\e690";
}
.psi-drafts:before {
  content: "\e691";
}
.psi-dribbble:before {
  content: "\e692";
}
.psi-dribbble-c:before {
  content: "\e693";
}
.psi-dribbble-r:before {
  content: "\e694";
}
.psi-dropbox:before {
  content: "\e695";
}
.psi-droplet:before {
  content: "\e696";
}
.psi-dvr:before {
  content: "\e697";
}
.psi-edit:before {
  content: "\e698";
}
.psi-ello:before {
  content: "\e699";
}
.psi-email:before {
  content: "\e69a";
}
.psi-tag:before {
  content: "\e69b";
}
.psi-tag-close:before {
  content: "\e69c";
}
.psi-enlarge:before {
  content: "\e69d";
}
.psi-enlarge-eq:before {
  content: "\e69e";
}
.psi-enter:before {
  content: "\e69f";
}
.psi-equalizer:before {
  content: "\e6a0";
}
.psi-equalizer-h:before {
  content: "\e6a1";
}
.psi-equalizer-v:before {
  content: "\e6a2";
}
.psi-error:before {
  content: "\e6a3";
}
.psi-exit:before {
  content: "\e6a4";
}
.psi-expand-less:before {
  content: "\e6a5";
}
.psi-expand-more:before {
  content: "\e6a6";
}
.psi-explicit:before {
  content: "\e6a7";
}
.psi-exposure:before {
  content: "\e6a8";
}
.psi-eye:before {
  content: "\e6a9";
}
.psi-eye-blocked:before {
  content: "\e6aa";
}
.psi-eyedropper:before {
  content: "\e6ab";
}
.psi-eye-minus:before {
  content: "\e6ac";
}
.psi-eye-plus:before {
  content: "\e6ad";
}
.psi-facebook:before {
  content: "\e6ae";
}
.psi-facebook-c:before {
  content: "\e6af";
}
.psi-facebook-r:before {
  content: "\e6b0";
}
.psi-fast-forward:before {
  content: "\e6b1";
}
.psi-fast-rewind:before {
  content: "\e6b2";
}
.psi-favorite:before {
  content: "\e6b3";
}
.psi-favorite-o:before {
  content: "\e6b4";
}
.psi-feed:before {
  content: "\e6b5";
}
.psi-feed-c:before {
  content: "\e6b6";
}
.psi-feed-r:before {
  content: "\e6b7";
}
.psi-file-download:before {
  content: "\e6b8";
}
.psi-file-empty:before {
  content: "\e6b9";
}
.psi-file-excel:before {
  content: "\e6ba";
}
.psi-file-music:before {
  content: "\e6bb";
}
.psi-file-openoffice:before {
  content: "\e6bc";
}
.psi-file-pdf:before {
  content: "\e6bd";
}
.psi-file-picture:before {
  content: "\e6be";
}
.psi-file-play:before {
  content: "\e6bf";
}
.psi-files-empty:before {
  content: "\e6c0";
}
.psi-file-text:before {
  content: "\e6c2";
}
.psi-file-upload:before {
  content: "\e6c3";
}
.psi-file-video:before {
  content: "\e6c4";
}
.psi-file-word:before {
  content: "\e6c5";
}
.psi-file-zip:before {
  content: "\e6c6";
}
.psi-filter-list:before {
  content: "\e6c7";
}
.psi-filter-vintage:before {
  content: "\e6c8";
}
.psi-finder:before {
  content: "\e6c9";
}
.psi-find-in-page:before {
  content: "\e6ca";
}
.psi-find-replace:before {
  content: "\e6cb";
}
.psi-firefox:before {
  content: "\e6cc";
}
.psi-flag:before {
  content: "\e6cd";
}
.psi-flare:before {
  content: "\e6ce";
}
.psi-flash-auto:before {
  content: "\e6cf";
}
.psi-flash-off:before {
  content: "\e6d0";
}
.psi-flash-on:before {
  content: "\e6d1";
}
.psi-flattr:before {
  content: "\e6d2";
}
.psi-flickr:before {
  content: "\e6d3";
}
.psi-flickr-c:before {
  content: "\e6d4";
}
.psi-flickr-o:before {
  content: "\e6d5";
}
.psi-flickr-r:before {
  content: "\e6d6";
}
.psi-folder:before {
  content: "\e6d7";
}
.psi-folder-download:before {
  content: "\e6d8";
}
.psi-folder-minus:before {
  content: "\e6d9";
}
.psi-folder-open:before {
  content: "\e6da";
}
.psi-folder-open-o:before {
  content: "\e6db";
}
.psi-folder-plus:before {
  content: "\e6dc";
}
.psi-folder-shared:before {
  content: "\e6dd";
}
.psi-folder-upload:before {
  content: "\e6de";
}
.psi-format-align-center:before {
  content: "\e6df";
}
.psi-format-align-justify:before {
  content: "\e6e0";
}
.psi-format-align-left:before {
  content: "\e6e1";
}
.psi-format-align-right:before {
  content: "\e6e2";
}
.psi-format-bold:before {
  content: "\e6e3";
}
.psi-format-clear:before {
  content: "\e6e4";
}
.psi-format-indent-decrease:before {
  content: "\e6e5";
}
.psi-format-indent-increase:before {
  content: "\e6e6";
}
.psi-format-ital:before {
  content: "\e6e7";
}
.psi-format-line-spacing:before {
  content: "\e6e8";
}
.psi-format-list-bulleted:before {
  content: "\e6e9";
}
.psi-format-list-numbered:before {
  content: "\e6ea";
}
.psi-format-paint:before {
  content: "\e6eb";
}
.psi-forrst:before {
  content: "\e6ec";
}
.psi-forrst-r:before {
  content: "\e6ed";
}
.psi-forum:before {
  content: "\e6ee";
}
.psi-forward:before {
  content: "\e6ef";
}
.psi-foursquare:before {
  content: "\e6f0";
}
.psi-fullscreen:before {
  content: "\e6f1";
}
.psi-fullscreen-exit:before {
  content: "\e6f2";
}
.psi-gamepad:before {
  content: "\e6f3";
}
.psi-games:before {
  content: "\e6f4";
}
.psi-gesture:before {
  content: "\e6f5";
}
.psi-get-app:before {
  content: "\e6f6";
}
.psi-gift:before {
  content: "\e6f7";
}
.psi-git-scm:before {
  content: "\e6f8";
}
.psi-git:before {
  content: "\e6f9";
}
.psi-github:before {
  content: "\e6fa";
}
.psi-github-rt:before {
  content: "\e6fb";
}
.psi-github-o:before {
  content: "\e6fc";
}
.psi-github-r:before {
  content: "\e6fd";
}
.psi-google:before {
  content: "\e6fe";
}
.psi-google-drive:before {
  content: "\e6ff";
}
.psi-google-plus:before {
  content: "\e700";
}
.psi-google-plus-c:before {
  content: "\e701";
}
.psi-google-plus-r:before {
  content: "\e702";
}
.psi-gps-fixed:before {
  content: "\e703";
}
.psi-gps-not-fixed:before {
  content: "\e704";
}
.psi-grade:before {
  content: "\e705";
}
.psi-group:before {
  content: "\e706";
}
.psi-group-add:before {
  content: "\e707";
}
.psi-happy:before {
  content: "\e708";
}
.psi-headset:before {
  content: "\e709";
}
.psi-headset-m:before {
  content: "\e70a";
}
.psi-healing:before {
  content: "\e70b";
}
.psi-hearing:before {
  content: "\e70c";
}
.psi-heart:before {
  content: "\e70d";
}
.psi-heart-broken:before {
  content: "\e70e";
}
.psi-help:before {
  content: "\e70f";
}
.psi-highlight-remove:before {
  content: "\e710";
}
.psi-high-quality:before {
  content: "\e711";
}
.psi-history:before {
  content: "\e712";
}
.psi-home:before {
  content: "\e713";
}
.psi-home2:before {
  content: "\e714";
}
.psi-home3:before {
  content: "\e715";
}
.psi-hour-glass:before {
  content: "\e716";
}
.psi-html5:before {
  content: "\e717";
}
.psi-html5-o:before {
  content: "\e718";
}
.psi-IE:before {
  content: "\e719";
}
.psi-image:before {
  content: "\e71a";
}
.psi-image-aspect-ratio:before {
  content: "\e71b";
}
.psi-images:before {
  content: "\e71c";
}
.psi-import-export:before {
  content: "\e71d";
}
.psi-inbox:before {
  content: "\e71e";
}
.psi-infinite:before {
  content: "\e71f";
}
.psi-info:before {
  content: "\e720";
}
.psi-info-o:before {
  content: "\e721";
}
.psi-input:before {
  content: "\e722";
}
.psi-insert-comment:before {
  content: "\e723";
}
.psi-insert-drive-file:before {
  content: "\e724";
}
.psi-insert-emoticon:before {
  content: "\e725";
}
.psi-insert-link:before {
  content: "\e726";
}
.psi-insert-photo:before {
  content: "\e727";
}
.psi-instagram:before {
  content: "\e728";
}
.psi-invert-colors:before {
  content: "\e729";
}
.psi-iso:before {
  content: "\e72a";
}
.psi-joomla:before {
  content: "\e72b";
}
.psi-key:before {
  content: "\e72c";
}
.psi-key2:before {
  content: "\e72d";
}
.psi-keyboard:before {
  content: "\e72e";
}
.psi-keyboard-r:before {
  content: "\e72f";
}
.psi-keyboard-alt:before {
  content: "\e730";
}
.psi-keyboard-arrow-down:before {
  content: "\e731";
}
.psi-keyboard-arrow-left:before {
  content: "\e732";
}
.psi-keyboard-arrow-right:before {
  content: "\e733";
}
.psi-keyboard-arrow-up:before {
  content: "\e734";
}
.psi-keyboard-backspace:before {
  content: "\e735";
}
.psi-keyboard-capslock:before {
  content: "\e736";
}
.psi-keyboard-control:before {
  content: "\e737";
}
.psi-keyboard-hide:before {
  content: "\e738";
}
.psi-keyboard-return:before {
  content: "\e739";
}
.psi-keyboard-tab:before {
  content: "\e73a";
}
.psi-keyboard-voice:before {
  content: "\e73b";
}
.psi-label:before {
  content: "\e73c";
}
.psi-landscape:before {
  content: "\e73d";
}
.psi-lanyrd:before {
  content: "\e73e";
}
.psi-laptop:before {
  content: "\e73f";
}
.psi-laptop-chromebook:before {
  content: "\e740";
}
.psi-laptop-mac:before {
  content: "\e741";
}
.psi-laptop-windows:before {
  content: "\e742";
}
.psi-lastfm:before {
  content: "\e743";
}
.psi-lastfm-r:before {
  content: "\e744";
}
.psi-launch:before {
  content: "\e745";
}
.psi-layers:before {
  content: "\e746";
}
.psi-layers-clear:before {
  content: "\e747";
}
.psi-libreoffice:before {
  content: "\e748";
}
.psi-link:before {
  content: "\e749";
}
.psi-linkedin:before {
  content: "\e74a";
}
.psi-linkedin-r:before {
  content: "\e74b";
}
.psi-list:before {
  content: "\e74c";
}
.psi-list-c:before {
  content: "\e74d";
}
.psi-list-numbered:before {
  content: "\e74f";
}
.psi-live-help:before {
  content: "\e750";
}
.psi-local-airport:before {
  content: "\e751";
}
.psi-local-grocery-store:before {
  content: "\e752";
}
.psi-local-hospital:before {
  content: "\e753";
}
.psi-local-offer:before {
  content: "\e754";
}
.psi-local-phone:before {
  content: "\e755";
}
.psi-local-post-office:before {
  content: "\e756";
}
.psi-local-print-shop:before {
  content: "\e757";
}
.psi-local-restaurant:before {
  content: "\e758";
}
.psi-location:before {
  content: "\e75a";
}
.psi-location-city:before {
  content: "\e75b";
}
.psi-location-off:before {
  content: "\e75c";
}
.psi-location-on:before {
  content: "\e75d";
}
.psi-lock:before {
  content: "\e75e";
}
.psi-lock-open:before {
  content: "\e75f";
}
.psi-lock-o:before {
  content: "\e760";
}
.psi-loop:before {
  content: "\e761";
}
.psi-loupe:before {
  content: "\e762";
}
.psi-make-group:before {
  content: "\e763";
}
.psi-man:before {
  content: "\e764";
}
.psi-man-woman:before {
  content: "\e765";
}
.psi-menu:before {
  content: "\e767";
}
.psi-message:before {
  content: "\e768";
}
.psi-messenger:before {
  content: "\e769";
}
.psi-mic:before {
  content: "\e76a";
}
.psi-mode-comment:before {
  content: "\e76b";
}
.psi-mode-edit:before {
  content: "\e76c";
}
.psi-mood:before {
  content: "\e76d";
}
.psi-more-h:before {
  content: "\e76e";
}
.psi-more-v:before {
  content: "\e76f";
}
.psi-mouse:before {
  content: "\e770";
}
.psi-move-down:before {
  content: "\e771";
}
.psi-move-up:before {
  content: "\e772";
}
.psi-multitrack-audio:before {
  content: "\e773";
}
.psi-my-library-add:before {
  content: "\e774";
}
.psi-my-library-books:before {
  content: "\e775";
}
.psi-my-library-mus:before {
  content: "\e776";
}
.psi-my-location:before {
  content: "\e777";
}
.psi-navigate-before:before {
  content: "\e778";
}
.psi-navigate-next:before {
  content: "\e779";
}
.psi-navigation:before {
  content: "\e77a";
}
.psi-new-releases:before {
  content: "\e77b";
}
.psi-newspaper:before {
  content: "\e77c";
}
.psi-new-tab:before {
  content: "\e77d";
}
.psi-note-add:before {
  content: "\e77e";
}
.psi-notification:before {
  content: "\e77f";
}
.psi-notifications:before {
  content: "\e780";
}
.psi-notifications-none:before {
  content: "\e781";
}
.psi-notifications-off:before {
  content: "\e782";
}
.psi-notifications-on:before {
  content: "\e783";
}
.psi-notifications-paused:before {
  content: "\e784";
}
.psi-not-interested:before {
  content: "\e785";
}
.psi-now-wallpaper:before {
  content: "\e786";
}
.psi-office:before {
  content: "\e787";
}
.psi-onedrive:before {
  content: "\e788";
}
.psi-open-in-browser:before {
  content: "\e789";
}
.psi-open-in-new:before {
  content: "\e78a";
}
.psi-open-with:before {
  content: "\e78b";
}
.psi-opera:before {
  content: "\e78c";
}
.psi-opt:before {
  content: "\e78d";
}
.psi-pages:before {
  content: "\e78e";
}
.psi-pageview:before {
  content: "\e78f";
}
.psi-palette:before {
  content: "\e790";
}
.psi-panorama:before {
  content: "\e791";
}
.psi-party-mode:before {
  content: "\e792";
}
.psi-paste:before {
  content: "\e793";
}
.psi-pause:before {
  content: "\e794";
}
.psi-pause-c-o:before {
  content: "\e795";
}
.psi-paypal:before {
  content: "\e796";
}
.psi-paypal-o:before {
  content: "\e797";
}
.psi-pen:before {
  content: "\e798";
}
.psi-pencil:before {
  content: "\e799";
}
.psi-pencil2:before {
  content: "\e79a";
}
.psi-people-o:before {
  content: "\e79b";
}
.psi-person:before {
  content: "\e79c";
}
.psi-person-plus:before {
  content: "\e79d";
}
.psi-person-o:before {
  content: "\e79e";
}
.psi-phone:before {
  content: "\e79f";
}
.psi-photo-camera:before {
  content: "\e7a0";
}
.psi-photo-library:before {
  content: "\e7a1";
}
.psi-phpsyntax-icon:before {
  content: "\e7a2";
}
.psi-phpsyntax-logo:before {
  content: "\e7a3";
}
.psi-picassa:before {
  content: "\e7a4";
}
.psi-picassa-r:before {
  content: "\e7a5";
}
.psi-pin-drop:before {
  content: "\e7a6";
}
.psi-pinterest:before {
  content: "\e7a7";
}
.psi-pinterest-r:before {
  content: "\e7a8";
}
.psi-place:before {
  content: "\e7a9";
}
.psi-play-arrow:before {
  content: "\e7aa";
}
.psi-play-c-o:before {
  content: "\e7ab";
}
.psi-playlist-add:before {
  content: "\e7ac";
}
.psi-point-down:before {
  content: "\e7ad";
}
.psi-point-left:before {
  content: "\e7ae";
}
.psi-point-right:before {
  content: "\e7af";
}
.psi-point-up:before {
  content: "\e7b0";
}
.psi-polymer:before {
  content: "\e7b1";
}
.psi-portable-wifi-off:before {
  content: "\e7b2";
}
.psi-portrait:before {
  content: "\e7b3";
}
.psi-power:before {
  content: "\e7b4";
}
.psi-price-tag:before {
  content: "\e7b5";
}
.psi-price-tags:before {
  content: "\e7b6";
}
.psi-print:before {
  content: "\e7b7";
}
.psi-printer:before {
  content: "\e7b8";
}
.psi-profile:before {
  content: "\e7b9";
}
.psi-public:before {
  content: "\e7ba";
}
.psi-publish:before {
  content: "\e7bb";
}
.psi-pushpin:before {
  content: "\e7bc";
}
.psi-qrcode:before {
  content: "\e7bd";
}
.psi-query-builder:before {
  content: "\e7be";
}
.psi-question:before {
  content: "\e7bf";
}
.psi-question-answer:before {
  content: "\e7c0";
}
.psi-queue:before {
  content: "\e7c1";
}
.psi-quick-contacts-dialer:before {
  content: "\e7c2";
}
.psi-quick-contacts-mail:before {
  content: "\e7c3";
}
.psi-quill:before {
  content: "\e7c4";
}
.psi-quotes-left:before {
  content: "\e7c5";
}
.psi-quotes-right:before {
  content: "\e7c6";
}
.psi-radio-checked:before {
  content: "\e7c7";
}
.psi-radio-unchecked:before {
  content: "\e7c8";
}
.psi-reddit:before {
  content: "\e7c9";
}
.psi-redo:before {
  content: "\e7ca";
}
.psi-remove:before {
  content: "\e7cb";
}
.psi-remove-c:before {
  content: "\e7cc";
}
.psi-remove-c-o:before {
  content: "\e7cd";
}
.psi-remove-red-eye:before {
  content: "\e7ce";
}
.psi-reorder:before {
  content: "\e7cf";
}
.psi-repeat:before {
  content: "\e7d0";
}
.psi-repeat-one:before {
  content: "\e7d1";
}
.psi-replay:before {
  content: "\e7d2";
}
.psi-reply:before {
  content: "\e7d3";
}
.psi-reply-all:before {
  content: "\e7d4";
}
.psi-report-problem:before {
  content: "\e7d5";
}
.psi-restaurant-menu:before {
  content: "\e7d6";
}
.psi-restore:before {
  content: "\e7d7";
}
.psi-room:before {
  content: "\e7d8";
}
.psi-rotate-left:before {
  content: "\e7d9";
}
.psi-rotate-right:before {
  content: "\e7da";
}
.psi-safari:before {
  content: "\e7db";
}
.psi-schedule:before {
  content: "\e7dc";
}
.psi-school:before {
  content: "\e7dd";
}
.psi-scissors:before {
  content: "\e7de";
}
.psi-search:before {
  content: "\e7df";
}
.psi-security:before {
  content: "\e7e0";
}
.psi-send:before {
  content: "\e7e1";
}
.psi-setting:before {
  content: "\e7e2";
}
.psi-settings:before {
  content: "\e7e3";
}
.psi-settings-applications:before {
  content: "\e7e4";
}
.psi-settings-overscan:before {
  content: "\e7e5";
}
.psi-settings-system-daydream:before {
  content: "\e7e6";
}
.psi-share:before {
  content: "\e7e7";
}
.psi-shift:before {
  content: "\e7e8";
}
.psi-shopping-cart:before {
  content: "\e7e9";
}
.psi-shrink:before {
  content: "\e7ea";
}
.psi-shrink2:before {
  content: "\e7eb";
}
.psi-shuffle:before {
  content: "\e7ec";
}
.psi-skip-next:before {
  content: "\e7ed";
}
.psi-skip-previous:before {
  content: "\e7ee";
}
.psi-skype:before {
  content: "\e7ef";
}
.psi-slideshow:before {
  content: "\e7f0";
}
.psi-smartphone:before {
  content: "\e7f1";
}
.psi-snooze:before {
  content: "\e7f2";
}
.psi-sort:before {
  content: "\e7f3";
}
.psi-sort-alpha-asc:before {
  content: "\e7f4";
}
.psi-sort-alpha-desc:before {
  content: "\e7f5";
}
.psi-sort-amount-asc:before {
  content: "\e7f6";
}
.psi-sort-amount-desc:before {
  content: "\e7f7";
}
.psi-sort-numberic-desc:before {
  content: "\e7f8";
}
.psi-sort-numeric-asc:before {
  content: "\e7f9";
}
.psi-soundcloud:before {
  content: "\e7fa";
}
.psi-soundcloud-r:before {
  content: "\e7fb";
}
.psi-speaker:before {
  content: "\e7fc";
}
.psi-speaker-notes:before {
  content: "\e7fd";
}
.psi-spellcheck:before {
  content: "\e7fe";
}
.psi-sphere:before {
  content: "\e7ff";
}
.psi-spinner:before {
  content: "\e800";
}
.psi-spinner2:before {
  content: "\e801";
}
.psi-spinner3:before {
  content: "\e802";
}
.psi-spinner4:before {
  content: "\e803";
}
.psi-spinner5:before {
  content: "\e804";
}
.psi-spinner6:before {
  content: "\e805";
}
.psi-spinner7:before {
  content: "\e806";
}
.psi-spinner8:before {
  content: "\e807";
}
.psi-spinner9:before {
  content: "\e808";
}
.psi-spinner10:before {
  content: "\e809";
}
.psi-spinner11:before {
  content: "\e80a";
}
.psi-stack:before {
  content: "\e80b";
}
.psi-stackoverflow:before {
  content: "\e80c";
}
.psi-star-empty:before {
  content: "\e80d";
}
.psi-star-full:before {
  content: "\e80e";
}
.psi-star-half:before {
  content: "\e80f";
}
.psi-stats-bars:before {
  content: "\e810";
}
.psi-stats-dots:before {
  content: "\e811";
}
.psi-steam:before {
  content: "\e812";
}
.psi-steam-r:before {
  content: "\e813";
}
.psi-stop:before {
  content: "\e814";
}
.psi-stopwatch:before {
  content: "\e815";
}
.psi-storage:before {
  content: "\e816";
}
.psi-straighten:before {
  content: "\e817";
}
.psi-stumbleupon:before {
  content: "\e818";
}
.psi-stumbleupon-c:before {
  content: "\e819";
}
.psi-style:before {
  content: "\e81a";
}
.psi-subject:before {
  content: "\e81b";
}
.psi-svg:before {
  content: "\e81c";
}
.psi-swap-horiz:before {
  content: "\e81d";
}
.psi-swap-vert:before {
  content: "\e81e";
}
.psi-switch:before {
  content: "\e81f";
}
.psi-sync:before {
  content: "\e820";
}
.psi-sync-disabled:before {
  content: "\e821";
}
.psi-sync-problem:before {
  content: "\e822";
}
.psi-system-update-tv:before {
  content: "\e823";
}
.psi-tab:before {
  content: "\e824";
}
.psi-tablet:before {
  content: "\e825";
}
.psi-tablet-android:before {
  content: "\e826";
}
.psi-tablet-mac:before {
  content: "\e827";
}
.psi-tag-faces:before {
  content: "\e828";
}
.psi-terrain:before {
  content: "\e829";
}
.psi-text-format:before {
  content: "\e82a";
}
.psi-textsms:before {
  content: "\e82b";
}
.psi-texture:before {
  content: "\e82c";
}
.psi-thumb-down:before {
  content: "\e82d";
}
.psi-thumbs-up-down:before {
  content: "\e82e";
}
.psi-thumb-up:before {
  content: "\e82f";
}
.psi-timelapse:before {
  content: "\e830";
}
.psi-timer-auto:before {
  content: "\e831";
}
.psi-toc:before {
  content: "\e832";
}
.psi-traff:before {
  content: "\e833";
}
.psi-transform:before {
  content: "\e834";
}
.psi-translate:before {
  content: "\e835";
}
.psi-tree:before {
  content: "\e836";
}
.psi-trending-down:before {
  content: "\e837";
}
.psi-trending-neutral:before {
  content: "\e838";
}
.psi-trending-up:before {
  content: "\e839";
}
.psi-tumblr:before {
  content: "\e83a";
}
.psi-tumblr-r:before {
  content: "\e83b";
}
.psi-tune:before {
  content: "\e83c";
}
.psi-tux:before {
  content: "\e83d";
}
.psi-tv:before {
  content: "\e83e";
}
.psi-twitch:before {
  content: "\e83f";
}
.psi-twitter:before {
  content: "\e840";
}
.psi-twitter-c:before {
  content: "\e841";
}
.psi-twitter-r:before {
  content: "\e842";
}
.psi-undo:before {
  content: "\e843";
}
.psi-unfold-less:before {
  content: "\e844";
}
.psi-unfold-more:before {
  content: "\e845";
}
.psi-ungroup:before {
  content: "\e846";
}
.psi-usb:before {
  content: "\e847";
}
.psi-user-check:before {
  content: "\e848";
}
.psi-user-minus:before {
  content: "\e849";
}
.psi-user-tie:before {
  content: "\e84a";
}
.psi-vertical-align-bottom:before {
  content: "\e84b";
}
.psi-vertical-align-center:before {
  content: "\e84c";
}
.psi-vertical-align-top:before {
  content: "\e84d";
}
.psi-video-collection:before {
  content: "\e84e";
}
.psi-view-agenda:before {
  content: "\e84f";
}
.psi-view-array:before {
  content: "\e850";
}
.psi-view-carousel:before {
  content: "\e851";
}
.psi-view-column:before {
  content: "\e852";
}
.psi-view-day:before {
  content: "\e853";
}
.psi-view-headline:before {
  content: "\e854";
}
.psi-view-list:before {
  content: "\e855";
}
.psi-view-module:before {
  content: "\e856";
}
.psi-view-quilt:before {
  content: "\e857";
}
.psi-view-stream:before {
  content: "\e858";
}
.psi-view-week:before {
  content: "\e859";
}
.psi-vimeo:before {
  content: "\e85a";
}
.psi-vimeo-c:before {
  content: "\e85b";
}
.psi-vimeo-r:before {
  content: "\e85c";
}
.psi-visibility:before {
  content: "\e85d";
}
.psi-visibility-off:before {
  content: "\e85e";
}
.psi-vpn-key:before {
  content: "\e85f";
}
.psi-vpn-lock:before {
  content: "\e860";
}
.psi-warning:before {
  content: "\e861";
}
.psi-warning-o:before {
  content: "\e862";
}
.psi-windows:before {
  content: "\e863";
}
.psi-windows8:before {
  content: "\e864";
}
.psi-woman:before {
  content: "\e865";
}
.psi-wordpress:before {
  content: "\e866";
}
.psi-wordpress-r:before {
  content: "\e867";
}
.psi-work:before {
  content: "\e868";
}
.psi-wrap-text:before {
  content: "\e869";
}
.psi-wrench:before {
  content: "\e86a";
}
.psi-xing:before {
  content: "\e86b";
}
.psi-xing-c:before {
  content: "\e86c";
}
.psi-yahoo:before {
  content: "\e86d";
}
.psi-yelp:before {
  content: "\e86e";
}
.psi-youtube:before {
  content: "\e86f";
}
.psi-youtube-o:before {
  content: "\e870";
}
.psi-youtube-r:before {
  content: "\e871";
}
.psi-zoom-in:before {
  content: "\e872";
}
.psi-zoom-out:before {
  content: "\e873";
}
